**/bin/
**/obj/
**/mysql_data/
**/.vs/
**/.vscode/
**/.git/
**/node_modules/
**/TestResults/
**/*.user
**/*.sln.iml
**/.idea/
**/Backup/
**/TestResults/
**/.dockerignore
**/.gitignore
**/.env
**/.env.local
Dockerfile*
docker-compose*
.git
.gitignore
README.md
LICENSE